@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Live demo</h2>
<div class="text-center">
    @Html.DisplayNameFor(model => model.StringInput)
    <input asp-for="StringInput" type="text" value="@Model.StringInput"/>     
    <button onclick="getLength()">Get Length</button>    
    <div>
    Result
        <p>Input: @Model.StringResult.Input</p>
        <p>Length: @Model.StringResult.Length</p>
        <p>CacheHit: @Model.StringResult.CacheHit</p>
    </div>
</div>


<script>
    function getLength() {
        var input = document.getElementById("StringInput").value;
        window.location.href = "/strings-app?input=" + input;
    }
</script>